form{
    max-width: 460px;
    width: calc(100% - 40px);
    padding: 20px;
    background: rgb(179, 55, 55);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 3px 7px rgb(68, 62, 62);
}
form h3{
    margin: 5px 0;
    color: white;
    
    
}

form input::placeholder{
    color: rgb(255, 255, 255); 
}
form input{
    padding:7px 10px;
    width: calc(100% - 70px);
    margin-bottom: 10px;
    background-image: url(../assets/fondoproduct.png);
    color: white;
}
.btnlogin{
    padding: 3px 0px;
    width:15%;
    background:#c71212;
    color: white;
}

form{
    color: white;
}
.btnregistro{
    padding: 3px 0px;
    width:20%;
    background:#c71212;
    color: white;
}
